/**
 * @file
 * Style for the quicknav block
 */

#block-rzvdaventria-quicknav {
  float: right;
  width: 128px;
}

@media all and (max-width: 599.5px) {
  #block-rzvdaventria-quicknav {
    width: 72px;
  }
}

#block-rzvdaventria-quicknav a {
  display: inline-block;
  height: 32px;
  width: 32px;
  padding: 24px 16px;
}

@media all and (max-width: 599.5px) {
  #block-rzvdaventria-quicknav a {
    width: 24px;
    padding: 14px 0px 14px 12px;
  }
}
