/**
 * @file
 * Styles for the powered-by block
 */

.region-footer .block-system-powered-by-block {
  float: left;
  width: calc(100% - 96px);
  clear: both;
  padding: 1rem 0px 1rem 40px;
  text-align: center;
  font-size: 0.9rem;
}

@media all and (max-width: 60rem) {
  .region-footer .block-system-powered-by-block {
    width: 100%;
    padding: 1rem 0px;
  }
}

.block-system-powered-by-block a {
  font-weight: bold;
}
