/**
 * @file
 * Visual styles for the content block
 */

#block-rzvdaventria-content {
  color: #444;
  line-height: 1.6;
}

#block-rzvdaventria-content p {
  padding-bottom: 0.8rem;
  text-wrap: pretty;
}

#block-rzvdaventria-content ol,
#block-rzvdaventria-content ul {
  margin: 0;
  padding-bottom: 0.8rem;
  text-wrap: pretty;
}

#block-rzvdaventria-content a,
#block-rzvdaventria-content a:visited,
#block-rzvdaventria-content a:hover,
#block-rzvdaventria-content a:visited:hover,
#block-rzvdaventria-content a:active {
  color: rgb(3, 162, 255);
  font-weight: bold;
}

#block-rzvdaventria-content a.is-external-link::after {
  content: "";
  background-image: url('../../images/icons/link-out-blue.svg');
  background-position: 0.2em bottom;
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}

#block-rzvdaventria-content a.is-mijn-daventria-link::after {
  content: "";
  background-image: url('../../images/icons/link-md-blue.svg');
  background-position: 0.2em bottom;
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}

#block-rzvdaventria-content td,
#block-rzvdaventria-content th {
  padding-right: 1rem;
  text-align: left;
}

#block-rzvdaventria-content .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

#block-rzvdaventria-content .tile img {
  height: auto;
  width: 100%;
}

/* Tables */
@media all and (max-width: 600px) {
  table.responsive td {
    display: block;
  }
}

/* Jaarkalender */

#block-rzvdaventria-content .view-activiteiten .view-content {
  column-width: 340px;
}

#block-rzvdaventria-content .view-activiteiten .views-group {
  break-inside: avoid;
}

#block-rzvdaventria-content .view-activiteiten h3 {
  clear: left;
  padding-top: 1rem;
  width: 100%;
  font-size: 1.3rem;
  text-transform: capitalize;
  page-break-after: avoid;
}

#block-rzvdaventria-content .view-activiteiten hr {
  margin-top: 0;
}

@media all and (max-width: 37.5rem) {
  #block-rzvdaventria-content .view-activiteiten h3 {
    width: calc(100% - 32px);
  }
}

#block-rzvdaventria-content .view-activiteiten .views-field-field-begindatum-1 {
  display: inline-block;
  width: 6rem;
  text-align: right;
  vertical-align: top;
}

@media all and (max-width: 37.5rem) {
  #block-rzvdaventria-content .view-activiteiten .views-field-field-begindatum-1 {
    display: block;
    text-align: left;
  }
}

#block-rzvdaventria-content .view-activiteiten .views-field-title {
  display: inline-block;
  padding-left: 1rem;
  width: calc(100% - 7rem);
}

@media all and (max-width: 37.5rem) {
  #block-rzvdaventria-content .view-activiteiten .views-field-title {
    display: block;
    padding-left: 0;
  }
}

/* Vloot */
#block-rzvdaventria-content td,
#block-rzvdaventria-content th {
  text-align: left;
  padding-right: 1rem;
}
