/**
 * @file
 * Visual styles for the content block
 */

#block-rzvdaventria-content {
  color: #444;
  line-height: 1.6;
}

/* Jaarkalender */

#block-rzvdaventria-content .view-activiteiten .view-content {
  column-width: 340px;
}

#block-rzvdaventria-content .view-activiteiten .views-group {
  break-inside: avoid;
}

#block-rzvdaventria-content .view-activiteiten h3 {
  clear: left;
  padding-top: 1rem;
  width: 100%;
  font-size: 1.3rem;
  text-transform: capitalize;
  page-break-after: avoid;
}

#block-rzvdaventria-content .view-activiteiten hr {
  margin-top: 0;
}

@media all and (max-width: 37.5rem) {
  #block-rzvdaventria-content .view-activiteiten h3 {
    width: calc(100% - 32px);
  }
}

#block-rzvdaventria-content .views-field-field-begindatum-1 {
  display: inline-block;
  width: 6rem;
  text-align: right;
  vertical-align: top;
}

@media all and (max-width: 37.5rem) {
  #block-rzvdaventria-content .views-field-field-begindatum-1 {
    display: block;
    text-align: left;
  }
}

#block-rzvdaventria-content .views-field-title {
  display: inline-block;
  padding-left: 1rem;
  width: calc(100% - 7rem);
}

@media all and (max-width: 37.5rem) {
  #block-rzvdaventria-content .views-field-title {
    display: block;
    padding-left: 0;
  }
}
