/**
 * @file
 * Styles for system messages.
 */

.messages {
  padding: 10px 10px 10px 18px; /* LTR */
  word-wrap: break-word;
  border: 1px solid;
  border-width: 1px 1px 1px 0;  /* LTR */
  border-radius: 2px;
  background: no-repeat 10px 17px;  /* LTR */
  overflow-wrap: break-word;
}
.messages + .messages {
  margin-top: 1.538em;
}
.messages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.messages__item + .messages__item {
  margin-top: 0.769em;
}
.messages--status {
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;  /* LTR */
  background-color: #f3faef;
  background-image: url(../../images/icons/check.svg);
  box-shadow: -8px 0 0 #77b259; /* LTR */
}
.messages--warning {
  color: #734c00;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;  /* LTR */
  background-color: #fdf8ed;
  background-image: url(../../images/icons/warning.svg);
  box-shadow: -8px 0 0 #e09600; /* LTR */
}
.messages--error {
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;  /* LTR */
  background-color: #fcf4f2;
  background-image: url(../../images/icons/error.svg);
  box-shadow: -8px 0 0 #e62600; /* LTR */
}
.messages--error p.error {
  color: #a51b00;
}
