/**
 * @file
 * Visual styles for foto albums
 */

.field--name-field-fotos .field__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.field--name-field-fotos .field__item img {
  width: 100%;
}
