/**
 * @file
 * Style for the main menu
 */

#block-rzvdaventria-hoofdnavigatie {
  float: left;
  width: calc(100% - 116px - 128px);
  margin: 0px;
  font-size: 1.1rem;
  font-weight: bold;
}

@media all and (max-width: 767.5px) {
  #block-rzvdaventria-hoofdnavigatie {
    float: right;
    width: 36px;
  }
}

/* Broad menu */

/* top level button */
ul.sf-menu.sf-horizontal .sf-with-ul,
ul.sf-menu.sf-horizontal a.sf-depth-1 {
  list-style: none outside;
  padding: calc(40px - 0.55rem) 14px calc(40px - 0.55rem) 14px;
}

/* drop down menu container */
ul.sf-menu ul {
  width: 18rem;
}

ul.sf-menu li:hover > ul,
ul.sf-menu li.sfHover > ul {
  left: 0;
  top: 80px;
  background-color: rgb(205,205,205);
}

/* drop down menu item */
ul.sf-menu a.sf-depth-2 {
  padding: 16px 0px 16px 48px;
  border-bottom: 1px solid rgb(164, 164, 164);
  list-style: none outside;
}

ul.sf-menu a.sf-depth-2:hover {
  background-color: rgb(195,195,195);
}

/* state is-double */
ul.sf-menu a.sf-depth-1.is-double {
  padding: calc(20px - 0.55rem) 14px calc(20px - 0.55rem) 14px;
}

ul.sf-menu li.is-double:hover > ul,
ul.sf-menu li.is-double.sfHover > ul {
  top: 40px;
}

/* sub menu indicator */
ul.sf-menu .sf-sub-indicator {
  display: inline-block;
  right: auto;
  margin-left: 0.5rem;
  font-size: 1rem;
}

ul.sf-menu.sf-horizontal .sf-sub-indicator {
  display: none;
}

/* accordion menu icon */
.sf-accordion-toggle a {
  height: 56px;
  padding: 12px 0px 4px 2px;
  float: right;
  font-size: 64px;
}

@media all and (max-width: 599.5px) {
  .sf-accordion-toggle a {
    height: 56px;
    padding: 8px 0px 6px 2px;
    font-size: 42px;
  }
}

@media all and (min-width: 599.5px) and (max-width: 767.5px) {
  .sf-accordion-toggle a {
    height: 56px;
    padding: 14px 16px 10px 0px;
    font-size: 56px;
  }
}

/* accordion menu container */
ul.sf-menu.sf-accordion.sf-expanded {
  position: absolute;
  left: 0 !important;
  width: 100%;
  float: none;
  top: calc(60px + var(--drupal-displace-offset-top, 0px)) !important;
  background-color: rgb(255,215,0);
  z-index: 499;
}

ul.sf-menu.sf-accordion .sf-with-ul,
ul.sf-menu.sf-accordion a.sf-depth-1 {
  list-style: none outside;
  padding: calc(24px - 0.55rem) 0 calc(24px - 0.55rem) 32px;
}

/* accordion sub-menu link */
ul.sf-has-clone-parent .sf-clone-parent a.sf-depth-1,
ul.sf-menu.sf-accordion a.sf-depth-2 {
  padding: calc(24px - 0.55rem) 0 calc(24px - 0.55rem) 64px;
  background-color: rgb(205,205,205);
}

ul.sf-has-clone-parent .sf-clone-parent a.sf-depth-1:hover,
ul.sf-menu.sf-accordion a.sf-depth-2:hover {
  background-color: rgb(195,195,195);
}

/* state is external link */
#block-rzvdaventria-hoofdnavigatie a.is-external-link::after {
  content: "";
  background-image: url('../../images/icons/link-out-black.svg');
  background-position: 0.2em top;
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}

#block-rzvdaventria-hoofdnavigatie a.is-mijn-daventria-link::after {
  content: "";
  background-image: url('../../images/icons/link-md-black.svg');
  background-position: 0.2em top;
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}
