/**
 * @file
 * Visual styles for nodes.
 */

/**
 * General
 *
 * All style regarding .node__content should be copied to the selector
 * .form-item-body-0-value so the style in the FCKEditor is the same as on the
 * page.
 */

.node--unpublished {
  background-color: #fff4f4;
}

/* Teasers */
.node--view-mode-teaser {
  border-bottom: 3px solid rgb(205, 205, 205)
}

.node--view-mode-teaser h2 {
  padding-bottom: 0;
}

.field--name-field-image img {
  float: right;
  padding: 5px;
  margin: 0 0 10px 10px;
  border: 1px solid rgb(205, 205, 205);
  height: auto;
  width: 220px;
}

@media all and (max-width: 600px) {
  .field--name-field-image img {
    width: 33%;
  }
}

.node--sticky h2 {
  padding-left: 1.15em;
  background-image: url('../../images/icons/promoted.svg');
  background-position: left;
  background-size: 1em 1em;
  background-repeat: no-repeat;
}

.node--view-mode-teaser h2 a,
.node--view-mode-teaser h2 a:visited,
.node--view-mode-teaser h2 a:hover,
.node--view-mode-teaser h2 a:visited:hover,
.node--view-mode-teaser h2 a:active {
  color: rgb(3, 162, 255);
}

.node__submitted {
  font-size: 0.9rem;
  padding-bottom: 0.8rem;
}

.node--view-mode-teaser .node__links {
  text-align: right;
}

/* Nieuws */
.node--type-nieuws .field--name-field-tags .field__item {
  float: left;
  margin-left: 10px;
}
