/**
 * @file
 * Styles for the tabs
 */

div.tabs {
  margin: 1em 0;
}
ul.tabs {
  margin: 0;
  padding: 0 0 0.5em;
  list-style: none;
}
.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}
.tabs a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
}
.tabs a.is-active {
  background-color: #eee;
}
.tabs a:focus,
.tabs a:hover {
  background-color: rgb(205,205,205);
}
