/**
 * @file
 * Visual styles for weather elements
 */

.webcam {
  width: calc(50% - 1ch);
  height: auto;
}

@media all and (max-width: 37.5rem) {
  .webcam {
    width: 100%;
  }
}

.weather-source {
  font-size: 0.9rem;
}

.graph-weather {
  height: 250px;
  width: 100%;
  padding-bottom: 20px;
  background-image: url("../../images/icons/graph.svg");
  background-position: center;
  background-repeat: no-repeat;
}
