/**
 * @file
 * Default styles for basic html element styling
 */

/* Desktop and tablet */

body {
  background-image: url("../images/background/tweezonder-wide.jpg");
  background-repeat: no-repeat;
  background-position: center top var(--drupal-displace-offset-top, 0px);
  background-size: 1920px;
}

@media all and (max-width: 599.5px) {
  body {
    background-image: url("../images/background/skiff-phone.jpg");
    background-repeat: no-repeat;
    background-position: center top calc(80px + var(--drupal-displace-offset-top, 0px));
    background-size: 600px;
  }
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover,
a:visited:hover,
a:active {
  color: black;
  text-decoration: none;
}
