/**
 * @file
 * Default styles for basic html element styling
 */

/**
 * Desktop and tablet
 */

body {
  background-image: url("/~internetcie/themes/rzvdaventria/images/background/tweezonder-wide.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px;
}

h1 {
  font-size: 2em;
  margin: 0px;
  padding:  22px 10px;  
}
 
h2 {
  margin: 0px;
  padding: 20px 10px;  
}

p {
  margin: 0px;
  padding: 16px 10px;
}

a,
a:visited,
a:hover,
a:visited:hover,
a:active {
  color: #03a2ff;
  font-weight: bold;
  text-decoration: none;  
}

/**
 * Phone
 */

@media all and (max-width: 599px) {
  body {
    background-image: url("/~internetcie/themes/rzvdaventria/images/background/skiff-phone.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 600px;
  }
}