/**
 * @file
 * Styles for compontents
 * 
 * This concern everything within a region.
 *
 * Breakpoints:
 * - < 60 rem (~ 960px)
 *   - all regions below each other
 *   - sidebar compontents in double column
 * - < 46.2 rem (~ 740px)
 *   - main menu in double row
 * - < 37.5 rem (~600px)
 *   - sidebar compontents below each other
 * - < 600px
 *   - smaller background image
 *   - main menu collapses
 *   - site name visible
 */

/**
 * Region header
 *
 * Components
 * - Site branding
 * - Main menu
 * - Search
 */

/* Site branding */

.block-system-branding-block {
  width: 116px;
  float: left;
}

@media all and (max-width: 599px) {
  .block-system-branding-block {
    width: calc(118px + 7.5rem);
  }
}

.site-logo {
  float: left;
  padding: 16px;
  height: 48px;
}

.site-logo img {
  height: 48px;
  width: auto;
}

.site-name {
  font: 1rem Tahoma bold;
  padding: calc(40px - 0.5rem) 0px;
}

@media all and (min-width: 600px) {
  .site-name {
    display: none;
  }
}

/* Hoofdnavigatie */

#block-rzvdaventria-hoofdnavigatie {
  float: left;
  width: calc(min(100%, 1200px) - 192px);
}

@media all and (max-width: 599px) {
  #block-rzvdaventria-hoofdnavigatie {
    float: right;
    width: 2rem;
  }
}

#block-rzvdaventria-hoofdnavigatie {
  font: 1rem Tahoma bold;
  margin: 0px;
}

/* Broad menu */

ul.sf-menu .sf-with-ul,
ul.sf-menu a.sf-depth-1 {
  padding: calc(40px - 0.5rem) 14px calc(40px - 0.5rem) 0px;
}

ul.sf-menu li:hover > ul,
ul.sf-menu li.sfHover > ul {
  left: 0;
  top: 80px;
  background-color: rgb(255,215,0)
}

ul.sf-menu a.sf-depth-2 {
  padding: 20px 0px 24px 14px;
}

/* Double row */
@media all and (min-width: 600px) and (max-width: 46.2rem) {
  ul.sf-menu .sf-with-ul,
  ul.sf-menu a.sf-depth-1 {
    padding: calc(20px - 0.5rem) 14px calc(20px - 0.5rem) 0px;
  }

  ul.sf-menu li:hover > ul,
  ul.sf-menu li.sfHover > ul {
    top: 40px;
  }
}

.sf-sub-indicator {
  display: none;
}

/* accordion menu */
.sf-accordion-toggle a {
  height: 56px;
  padding: 12px 14px 12px 0px;
  float: right;
  font-size: 56px;
}

ul.sf-menu.sf-accordion.sf-expanded {
  position: absolute;
  left: calc(100% - 200px) !important;
  width: 200px;
  float: none;
  top: calc(80px + var(--drupal-displace-offset-top, 0px)) !important;
  background-color: rgb(255,215,0);
  z-index: 499;
}

ul.sf-menu.sf-accordion .sf-depth-2 {
  background-color: rgb(205,205,205);
}

/* css/compontents/menu.css */

ul.menu {
  margin-left: 1em; /* LTR */
  padding: 0;
  list-style: none outside;
  text-align: left; /* LTR */
}
[dir="rtl"] ul.menu {
  margin-right: 1em;
  margin-left: 0;
  text-align: right;
}
.menu-item--expanded {
  list-style-type: circle;
  list-style-image: url(../../images/icons/menu-expanded.png);
}
.menu-item--collapsed {
  list-style-type: disc;
  list-style-image: url(../../images/icons/menu-collapsed.png); /* LTR */
}
[dir="rtl"] .menu-item--collapsed {
  list-style-image: url(../../images/icons/menu-collapsed-rtl.png);
}
.menu-item {
  margin: 0;
  padding-top: 0.2em;
}
ul.menu a.is-active {
  color: #000;
}

/* #block-rzvdaventria-search-form-wide */

#block-rzvdaventria-search-form-wide {
  float: right;
}

/* search icon */
#block-rzvdaventria-search-form-wide ul.sf-menu {
  padding: 24px 16px;
  height: 32px;
}

#block-rzvdaventria-search-form-wide li,
#block-rzvdaventria-search-form-wide svg {
  height: 32px;
  width: auto;
}

/* search box */
#block-rzvdaventria-search-form-wide ul.sf-menu li:hover > ul,
#block-rzvdaventria-search-form-wide ul.sf-menu li.sfHover > ul {
  top: 56px;
  left: calc(47px - 17rem);
  text-align: center;
  padding: 1rem;
  width: 15rem;
}

/**
 * Region weather
 */

 /* block-rzvdaventria-weerenwaterstanden */

#block-rzvdaventria-weerenwaterstanden .text-formatted img {
  padding-right: 10px;
}

/* Tablet */
@media all and (min-width: 600px) and (max-width: 60rem) {
  #block-rzvdaventria-weerenwaterstanden .text-formatted img {
    text-align: right;
    padding-left: 10px;
  }
}

/* Phone */
@media all and (max-width: 599px) {
  #block-rzvdaventria-weerenwaterstanden .text-formatted img {
    text-align: right;
    padding-left: 10px;
    height: 40px;
    width: 40px;
  }
}

/**
 * Region content
 *
 * The content region partially floats above the background image in desktop
 * and tablet mode. The background should be white, except for the hub for
 * which images will float above the header.
 */
 
#block-rzvdaventria_messages {
  padding: 10px 10px 10px 18px;
  background-color: white;
}

#block-rzvdaventria_primary_admin_actions {
  background-color: white;
}

#block-rzvdavenria-messages {
  background-color: white;
}

#block-rzvdaventria-primary-local-tasks {
  background-color: white;
}

#block-rzvdaventria-secondary-local-tasks {
  background-color: white;
}

#block-rzvdaventria-page-title {
  background-color: white;
}

/* Content */

#block-rzvdaventria-content {
  background-color: white;
}

#block-rzvdaventria-content p {
  padding-bottom: 0.8rem;
}

#block-rzvdaventria-content a,
#block-rzvdaventria-content a:visited,
#block-rzvdaventria-content a:hover,
#block-rzvdaventria-content a:visited:hover,
#block-rzvdaventria-content a:active {
  color: rgb(3, 162, 255);
  font-weight: bold;
}

/* nieuws teaser */

.view-frontpage h2 a,
.view-frontpage h2 a:visited,
.view-frontpage h2 a:hover,
.view-frontpage h2 a:visited:hover,
.view-frontpage h2 a:active {
  color: black;
}

.view-frontpage .file--name-body {
  text-align: justify;
}

.view-frontpage .node__links {
  text-align: right;
}

/* nieuws */
.node--type-nieuws p {
  text-align: justify;
}

.node--type-nieuws .field--name-field-tags .field__item {
  float: left;
  margin-left: 10px;
}

/* block-rzvdaventria-views-block-hub-block-1 */

#block-rzvdaventria-views-block-hub-block-1 {
  /* Prevent background from next block from crawling over background img */
  height: 120px;
}

@media all and (max-width: 60rem) {
  .block-views-blockhub-block-1 {
    margin-top: 10px;
  }
}

#block-rzvdaventria-views-block-hub-block-1 .views-row {
  width: calc(50% - 34px);
  float: left;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

#block-rzvdaventria-views-block-hub-block-1 img {
  display: block;
  height: auto;	
  width: calc(100%);
}

#block-rzvdaventria-views-block-hub-block-1 .field-content {
  padding-top: 5px;
  text-align: center;
}

#block-rzvdaventria-views-block-hub-block-1 .views-field-field-link a,
#block-rzvdaventria-views-block-hub-block-1 .views-field-field-link a:visited,
#block-rzvdaventria-views-block-hub-block-1 .views-field-field-link a:hover,
#block-rzvdaventria-views-block-hub-block-1 .views-field-field-link a:visited:hover,
#block-rzvdaventria-views-block-hub-block-1 .views-field-field-link a:active  {
  color: black;
  font-size: 1.25em;
  font-weight: normal;
}

/* include components/tabs.css */
/* #block-rzvdaventria-primary-local-tasks */

div.tabs {
  margin: 1em 0;
}
ul.tabs {
  margin: 0;
  padding: 0 0 0.5em;
  list-style: none;
}
.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}
[dir="rtl"] .tabs > li {
  margin-right: 0;
  margin-left: 0.3em;
}
.tabs a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
}
.tabs a.is-active {
  background-color: #eee;
}
.tabs a:focus,
.tabs a:hover {
  background-color: rgb(205,205,205);
}

/* include components/form.css */

form .field-multiple-table {
  margin: 0;
}
form .field-multiple-table .field-multiple-drag {
  width: 30px;
  padding-right: 0; /* LTR */
}
[dir="rtl"] form .field-multiple-table .field-multiple-drag {
  padding-left: 0;
}
form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: 0.5em; /* LTR */
}
[dir="rtl"] form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: 0;
  padding-left: 0.5em;
}
form .field-add-more-submit {
  margin: 0.5em 0 0;
}

/**
 * Markup generated by Form API.
 */
.form-item,
.form-actions {
  padding-top: 1em;
  padding-bottom: 1em;
}
tr.odd .form-item,
tr.even .form-item {
  padding-top: 0;
  padding-bottom: 0;
}
.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 0.85em;
}
label.option {
  display: inline;
  font-weight: normal;
}
.form-composite > legend,
.label {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
}
.form-checkboxes .form-item,
.form-radios .form-item {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em; /* LTR */
}
[dir="rtl"] .form-type-radio .description,
[dir="rtl"] .form-type-checkbox .description {
  padding-right: 2.4em;
  padding-left: 0;
}
.marker {
  color: #e00;
}
.form-required::after {
  display: inline-block;
  width: 6px;
  height: 6px;
  padding: 0 0.3em;
  content: "";
  vertical-align: super;
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url(../images/icons/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}
abbr.tabledrag-changed,
abbr.ajax-changed {
  border-bottom: none;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

/* Inline error messages. */
.form-item--error-message::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
  vertical-align: sub;
  background: url(../../images/icons/error.svg) no-repeat;
  background-size: contain;
}

/**
 * Region sidebar
 */

/* block-rzvdaventria-webcammetlinknaarweerpagina*/

#block-rzvdaventria-webcammetlinknaarweerpagina img {
  width: 100%;
}

@media all and (min-width: 37.5rem) and (max-width: 60rem) {
  #block-rzvdaventria-webcammetlinknaarweerpagina {
    width: calc(50% - 2rem);
    float: right;
  }
}
 
/* block-rzvdaventria-views-block-activiteiten-block-1 */

@media all and (min-width: 37.5rem) and (max-width: 60rem) {
  #block-rzvdaventria-views-block-activiteiten-block-1 {
    width: calc(50% - 2rem);
    float: left;
  }
}

.block-views-blockactiviteiten-block-1 h2 {
  padding-left: 3px;
}

.view-activiteiten table {
  width: 100%;
}

.view-activiteiten .views-field-field-begindatum-1 {
  height: 1.75rem;
  width: 6.5rem;
  padding: 0 0.25rem;
  background-color: rgb(205,205,205);
  text-align: right;
  vertical-align: middle;
}

.view-activiteiten .views-field-title {
  height: 1.75rem;
  width: auto;
  padding-left: 5px;
  background-color: rgb(255,215,0)
}

.view-activiteiten .views-field-title a,
.view-activiteiten .views-field-title a:visited,
.view-activiteiten .views-field-title a:hover,
.view-activiteiten .views-field-title a:visited:hover,
.view-activiteiten .views-field-title a:active {
  color: black;
}

/* block-rzvdaventria-iconensocialemediarss */

@media all and (min-width: 37.5rem) and (max-width: 60rem) {
  #block-rzvdaventria-iconensocialemediarss {
    width: calc(50% - 2rem);
    float: right;
    clear: right;
  }
}

/* #block-rzvdaventria-adrescontactenbankgegevens */

#block-rzvdaventria-adrescontactenbankgegevens p {
  padding-bottom: 0.8rem;
}

@media all and (min-width: 37.5rem) and (max-width: 60rem) {
  #block-rzvdaventria-adrescontactenbankgegevens {
    width: calc(50% - 2rem);
    float: right;
    clear: right;
  }
}
