/**
 * @file
 * Styles for layout.
 *
 * This mainly concerns the placement of regions and blocks.
 */
 
 /**
 * Container
 *
 * In wide view max 1200 px wide, in long view full page wide.
 */
 
.layout-container {
  max-width: 1200px;	
}

/**
 * Region placement
 *
 * region-header: on top at full container width.
 * region-weather: in wide view in the right sidebar in front of the banner. In
 *   long view above the main contentin front of the banner.
 * region content: in wide view in the left to the sidebar partially in front
 *   of the banner. In long view full container width below the banner.
 * region-sidebar: in wide view right of the main content below the main banner.
 *   In long view below the content at full container width.
 * region-footer: at the bottom at full container width.
 */
 
.region-header {
  height: 80px;
  width: 100%;
  background-color: rgb(255,215,0);
  text-align: left;
}

.region-weather {
  height: 120px;
  width: 360px;
  float: right;
  margin-top: 280px;
  text-align: left;
}

.region-content {
  min-height: 400px;
  width: calc(100% - 360px);
  float: left;
  margin-top: 280px;
  text-align: left;
}

.region-sidebar {
  width: 360px;
  float: left;
  text-align: left;
 }
   
.region-footer {
  height: 240px;
  width: 100%;
  clear: both;
  background-color: rgb(41,41,41);
  text-align: left;
}

/**
 * Tablet and phone
 */
 
 @media all and (max-width: 960px) {
    .region-content {
       width: 100%;
	   margin-top: 0px;
	}
	
	.region-sidebar {
	   width: 100%;	
	}
 }
 
/**
 * Block placement
 *
 * Header
 *   Site branding: left
 *   Main menu: right of site branding
 *   Search box: right
 */

#block-rzvdaventria-site-branding {
  width: 340px;
  float: left;
}

#block-rzvdaventria-main-menu {
  float: left;
}
 
#block-rzvdaventria-search-form-wide {
  width: 220px;
  float: right;
}

/**
 * Tablet
 */

@media all and (min-width: 600px) and (max-width: 960px) {
  #block-rzvdaventria-webcammetlinknaarweerpagina {
	width: 50%;
    float: right;
  }
  
  #block-rzvdaventria-views-block-activiteiten-block-1 {
    width: 50%;
	float: left;
  }
  #block-rzvdaventria-iconensocialemediarss {
	width: 50%;
    float: right;
  }
  
  #block-rzvdaventria-adrescontactenbankgegevens {
	width: 50%;
    float: right;
  }
}

/**
 * Phone
 */

@media all and (max-width: 599px) {
  #block-rzvdaventria-webcammetlinknaarweerpagina {
	width: 100%;
  }
  
  #block-rzvdaventria-views-block-activiteiten-block-1 {
    width: 100%;
  }
  
  #block-rzvdaventria-iconensocialemediarss {
	width: 100%;
  }
  
  #block-rzvdaventria-adrescontactenbankgegevens {
	width: 100%;
  }
}
 
