/**
 * @file
 * Styles for layout.
 *
 * This mainly concerns the placement of regions and blocks.
 */
 
 /**
 * Container
 */

.layout-container {
  max-width: 1200px;
  margin-left: max(calc(50% - 600px), 0px);
}

/**
 * Region placement
 *
 * region-header:
 *   - all views: on top and full container width
 *
 * region-weather:
 *   - desktop view: right sidebar in front of the banner.
 *   - tablet & phone view: above content in front of the banner.
 *
 * region content:
 *   - desktop view: left of the sidebar, partially in front of the banner.
 *   - tablet & phone view: full container width below the banner.
 *
 * region-sidebar:
 *   - desktop view: right of the main content below the main banner.
 *   - tablet & phone view: full container width below the content.
 *
 * region-footer:
 *   - all views: at the bottom at full container width.
 */
 
 /* Desktop  (default) */

.region-header {
  height: 80px;
  width: 100%;
  background-color: rgb(255,215,0);
}

.region-weather {
  height: 120px;
  width: 360px;
  float: right;
  margin-top: 280px;
}

.region-content {
  min-height: 400px;
  width: calc(100% - 360px);
  float: left;
  margin-top: 280px;
}

.region-sidebar {
  width: 360px;
  float: left;
 }

.region-footer {
  height: 240px;
  width: 100%;
  clear: both;
  background-color: rgb(41,41,41);
}

/* Tablet */
 
@media all and (min-width: 600px) and (max-width: 960px) {
  .region-content {
    width: 100%;
    margin-top: 0px;
  }

  .region-sidebar {
    width: 100%;
  }

  .region-weather {
    text-align: right;
  }
}

/* Phone */

@media all and (max-width: 599px) {
  .region-content {
    width: 100%;
    margin-top: 0px;
  }

  .region-sidebar {
    width: 100%;
  }

  .region-weather {
    margin-top: 120px;
    text-align: right;
  }
}

/**
 * Blocks
 */

/* Desktop (default) */

.block-system-branding-block {
  width: 116px;
  float: left;
}

.block-superfish {
  float: left;
  width: auto;
}

.block-search {
  float: right;
}

.region-content .block {
  padding-left: 1rem;
  padding-right: 1rem;
}

.region-sidebar .block {
  padding: 1rem;
}

/* Tablet */

@media all and (min-width: 600px) and (max-width: 960px) {
  .block-views-blockhub-block-1 {
    margin-top: 10px;
  }

  #block-rzvdaventria-webcammetlinknaarweerpagina {
    width: calc(50% - 2rem);
    float: right;
  }

  #block-rzvdaventria-views-block-activiteiten-block-1 {
    width: calc(50% - 2rem);
    float: left;
  }
  #block-rzvdaventria-iconensocialemediarss {
    width: calc(50% - 2rem);
    float: right;
    clear: right;
  }

  #block-rzvdaventria-adrescontactenbankgegevens {
    width: calc(50% - 2rem);
    float: right;
    clear: right;
  }
}

/* Phone */

@media all and (max-width: 599px) {
  .block-views-blockhub-block-1 {
    margin-top: 10px;
  }

  .block-system-branding-block {
    width: 226px;
  }

  .block-superfish {
    float: right;
  }

  .region-sidebar .block {
    width: calc(100% - 2rem);
  }
}
