/**
 * @file
 * Styles for layout.
 *
 * This concerns the container and the regions.
 *
 * Breakpoints:
 * - < 60 rem (~ 960px)
 *   - all regions below each other
 *   - sidebar compontents in double column
 * - < 46.2 rem (~ 740px)
 *   - main menu in double row
 * - < 37.5 rem (~600px)
 *   - sidebar compontents below each other
 * - < 600px
 *   - smaller background image
 *   - main menu collapses
 *   - site name visible
 */
 
.layout-container {
  max-width: 1200px;
  margin-left: max(calc(50% - 600px), 0px);
}

 /**
 * region-header:
 *   - all views: on top and full container width
 */

.region-header {
  height: 80px;
  width: 100%;
  background-color: rgb(255,215,0);
}

/**
 * region-weather:
 *   - desktop view: right sidebar in front of the banner.
 *   - tablet & phone view: above content in front of the banner.
 *
 * Note that the phone view will switch with the smaller background image,
 * therefore the breakpoint is defined in pixels.
 */

.region-weather {
  height: 80px;
  width: 20.5rem;
  float: right;
  margin-top: 280px;
  padding: calc(40px - 0.5rem) 1rem 0.5rem 1rem;
  vertical-align: bottom;
}

@media all and (min-width: 599.5px) and (max-width: 60rem) {
  .region-weather {
    text-align: right;
  }
}

@media all and (max-width: 599.5px) {
  .region-weather {
    padding: calc(80px - 0.5rem) 1rem 0.5rem 1rem;
    height: 40px;
    margin-top: 120px;
    text-align: right;
  }
}

/**
 * region content:
 *   - desktop view: left of the sidebar, partially in front of the banner.
 *   - tablet & phone view: full container width below the banner.
 */

.region-content {
  min-height: 400px;
  width: calc(100% - 22.5rem);
  float: left;
  margin-top: 280px;
}

.region-content .block {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media all and (max-width: 60rem) {
  .region-content {
    width: 100%;
    margin-top: 0px;
  }

  .region-content .block {
    padding-left: 10px;
    padding-right: 10px;
  }
}



/**
 * region-sidebar:
 *   - desktop view: right of the main content below the main banner.
 *   - tablet & phone view: full container width below the content.
 */

.region-sidebar {
  width: 22.5rem;
  float: left;
}

.region-sidebar .block {
  padding: 1rem;
}

@media all and  (max-width: 60rem) {
  .region-sidebar {
    width: 100%;
  }
}

@media all and (max-width: 37.5rem) {
  .region-sidebar .block {
    width: calc(100% - 20px);
    padding: 1rem 10px;
  }
}

/**
 * region-footer:
 *   - all views: at the bottom at full container width.
 */

.region-footer {
  height: 10rem;
  width: 100%;
  clear: both;
  background-color: rgb(41,41,41);
}
