/**
 * @file
 * Style for the content region
 *
 * region content:
 *   - desktop view: left of the sidebar, partially in front of the banner.
 *   - tablet & phone view: full container width below the banner.
 */

.region-content {
  float: left;
  min-height: 400px;
  width: calc(100% - 22.5rem - 96px);
  margin-top: 280px;
  padding: 10px 48px;
  background-color: white;
  
}

@media all and (max-width: 60rem) {
  .region-content {
    width: calc(100% - 64px);
    margin-top: 0px;
    padding: 0px 32px;
  }
}
