/**
 * @file
 * Style for the footer region
 *
 * region-footer:
 *   - all views: at the bottom at full container width.
 */

.region-footer {
  width: 100%;
  clear: both;
  color: rgb(205,205,205);
}

.region-footer .block {
  background-color: rgb(41,41,41);
  padding: 10px;
}

@media all and (max-width: 60rem) {
  .region-footer .block {
    padding: 10px 32px;
  }
}

.region-footer a,
.region-footer a:visited,
.region-footer a:hover,
.region-footer a:visited:hover,
.region-footer a:active {
  color: rgb(205,205,205);
}
