/**
 * @file
 * Styles for link buttons and action links.
 */

.action-links {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
.action-links li {
  display: inline-block;
  margin: 0 0.3em;
}
.action-links li:first-child {
  margin-left: 0; /* LTR */
}
.button-action {
  display: inline-block;
  padding: 0.2em 0.5em 0.3em;
  text-decoration: none;
  line-height: 160%;
}
.button-action::before {
  margin-left: -0.1em; /* LTR */
  padding-right: 0.2em; /* LTR */
  content: "+";
  font-weight: 900;
}
