/**
 * @file
 * Style for the site-branding block
 */

.block-system-branding-block {
  float: left;
  width: 116px;
}

@media all and (max-width: 599.5px) {
  .block-system-branding-block {
    width: calc(118px + 7.5rem);
  }
}

.site-logo {
  float: left;
  padding: 16px;
  height: 48px;
}

@media all and (max-width: 420px) {
  .block-system-branding-block {
    padding-left: 16px;
    width: calc(7.5rem);
  }

  .site-logo {
    display: none;
  }
}

.site-logo img {
  height: 48px;
  width: auto;
}

.site-name {
  padding: calc(40px - 0.5rem) 0px;
  font-size: 1rem;
  font-weight: bold;
}

@media all and (min-width: 599.5px) {
  .site-name {
    display: none;
  }
}
