/**
 * @file
 * Style for the site-branding block
 */

.block-system-branding-block {
  float: left;
  width: 116px;
}

@media all and (max-width: 599.5px) {
  .block-system-branding-block {
    width: 188px;
  }
}

.site-logo {
  float: left;
  height: 80px;
}

.site-logo img {
  height: 48px;
  padding: 16px 0px;
  width: auto;
}

@media all and (max-width: 599.5px) {
  .site-logo img {
    height: 32px;
    padding: 14px 0px;
    width: auto;
  }
}

.site-name {
  float: left;
  padding: 22px 0px 22px 12px;
  font-size: 16px;
  font-weight: bold;
}

@media all and (min-width: 599.5px) {
  .site-name {
    display: none;
  }
}
