/**
 * @file
 * Style for the content block
 */

#block-rzvdaventria-content {
  color: #444;
  line-height: 1.6;
}

/**
 * Node content
 *
 * Use selector .node_content to apply style to the content only. Double with
 * selector .form-item-body-0-value to get the same style in the body editor.
 */

.node__content p,
.form-item-body-0-value p {
  padding-bottom: 0.8rem;
  text-wrap: pretty;
}

.node__content ol,
.node__content ul,
.form-item-body-0-value ol,
.form-item-body-0-value ul {
  margin: 0;
  padding-bottom: 0.8rem;
  text-wrap: pretty;
}

.node__content a,
.node__content a:visited,
.node__content a:hover,
.node__content a:visited:hover,
.node__content a:active,
.form-item-body-0-value a,
.form-item-body-0-value a:visited,
.form-item-body-0-value a:visited:hover,
.form-item-body-0-value a.active {
  color: rgb(3, 162, 255);
  font-weight: bold;
}

.node__content td,
.node__content th,
.form-item-body-0-value td,
.form-item-body-0-value th {
  padding-right: 1rem;
  text-align: left;
}

/* nieuws teaser */
.view-frontpage h2 {
  padding-bottom: 0;
}

.view-frontpage h2 a,
.view-frontpage h2 a:visited,
.view-frontpage h2 a:hover,
.view-frontpage h2 a:visited:hover,
.view-frontpage h2 a:active {
  color: black;
}

.node__submitted {
  font-size: 0.9rem;
  padding-bottom: 0.8rem;
}

.view-frontpage .views-row {
  border-bottom: 3px solid rgb(205, 205, 205)
}

.view-frontpage .node__links {
  text-align: right;
}

/* nieuws */
.node--type-nieuws .field--name-field-tags .field__item {
  float: left;
  margin-left: 10px;
}
