/**
 * @file
 * Styles for the footer menu
 */

.region-footer .block-menu {
  float: left;
  width: calc(25% - 16px);
}

@media all and (min-width: 37.5rem) and (max-width: 60rem) {
  .region-footer .block-menu {
      width: calc(50% - 64px);
  }
}

@media all and (max-width: 37.5rem) {
  .region-footer .block-menu {
    width: calc(100% - 64px);
  }
}

.region-footer .block-menu h2 {
  margin-top: 24px;
  padding: 0.5rem 0px;
  border-bottom: 1px solid rgb(68, 68, 68);
  border-top: 1px solid rgb(68, 68, 68);
  color: rgb(255, 215, 0);
  font-size: 1rem;
}

.region-footer .block-menu ul.menu {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.region-footer .block-menu li.menu-item {
  margin: 0;
}

.region-footer .block-menu li.menu-item a {
  display: block;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(68, 68, 68);
  font-size: 1rem;
}

.region-footer .block-menu li.menu-item a:hover {
  background-color: rgb(54, 54, 54);
  color: white;
}

/* state is external link */
.region-footer .block-menu a.is-external-link::after {
  content: "";
  background-image: url('../../images/icons/link-out-grey-light.svg');
  background-position: 0.2em top;
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.region-footer .block-menu a.is-external-link:hover::after {
  background-image: url('../../images/icons/link-out-grey-light-hover.svg');
}
