/**
 * @file
 * Styles for the footer menu
 */

.region-footer .block-menu {
  float: left;
  width: calc(25% - 20px);
  padding: 10px;
}

@media all and  (max-width: 60rem) {
  .region-footer .block-menu {
      width: calc(50% - 20px);
  }
}

@media all and (max-width: 37.5rem) {
  .region-footer .block-menu {
    width: calc(100% - 20px);
  }
}

.region-footer .block-menu h2 {
  margin-top: 24px;
  padding: 0.5rem 0px;
  border-bottom: 1px solid rgb(68, 68, 68);
  border-top: 1px solid rgb(68, 68, 68);
  color: rgb(255, 215, 0);
  font-size: 1rem;
}

.region-footer .block-menu ul.menu {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.region-footer .block-menu li.menu-item {
  margin: 0;
}

.region-footer .block-menu li.menu-item a {
  display: block;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(68, 68, 68);
  font-size: 1rem;
}

.region-footer .block-menu li.menu-item a:hover {
  background-color: rgb(54, 54, 54);
  color: white;
}
