{#
/**
 * @file
 * Theme override of a container used to wrap text format filter guidelines.
 *
 * Used for the text format filter guidelines. In the default theme this
 * element was in a form wrapper which is incorrect as it is a form-item.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - has_parent: A flag to indicate that the container has one or more parent
     containers.
 *
 * @see template_preprocess_container()
 */
#}
{%
  set classes = [
    has_parent ? 'js-form-item',
    has_parent ? 'form-item',
  ]
%}
<div{{ attributes.addClass(classes) }}>{{ children }}</div>
